@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --app-primary: #ab8f8f;
  --app-black: #222;
  --app-black-darken: #111;
  --app-white: #fff;
  --app-disabled: #606060;

  --border-radius: 10px;

  --header-height: 80px;
  --input-height: 50px;
  --button-height: 50px;
}
